body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    margin: 0;
    background-color: #7251B5;
}

h1, h2, h3{
    margin-bottom: 0;
}

#company-name{
    font-size: 1.5rem;
}

header, footer{
    background-color: #000;
    color: #DEC9E9;
}

.wrapper{
    max-width:940px;
    margin:0 auto;
    padding: 2em;
}

ul, ol{
    padding: 0;
    list-style: none;
}

/*
a[rel="Flavours"]{
    color: #DEC9E9;
    text-decoration: none;
}
*/
nav a{
    color: #DEC9E9;
    text-decoration: none;
}

#intro+.wrapper {
    background-color: #000;
    color: #DEC9E9;
}

article>img{
    width: 150px;
    border-radius: 50%;
    filter: grayscale(100%);
    margin-top: 1em;
}

li:nth-child(even){
    color: #dc33dc;
}

h3 > p{ /*main*/
    width: 100%;
}

/*



    Use a child selector to target the img tag directly with the article tags - COMPLETE
        width: 150px;
        border-radius: 50%;
        filter: grayscale(100%);
        margin-top: 1em;
    Select every even numbered li within the ordered list - COMPLETE
        color: #dc33dc;
    Use a child selector to target the img tag directly with the main element  - COMPLETE
        width: 100%;
