body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    margin: 0;
    background-color: #7251B5;
}

h1, h2, h3{
    margin-bottom: 0;
}

#company-name{
    font-size: 1.5rem;
}

header, footer{
    background-color: #000;
    color: #DEC9E9;
}

.wrapper{
    max-width:940px;
    margin:0 auto;
    padding: 2em;
}

/*Select both list types*/


./*--*/ {      /*removeing bullet at top links*/
    list-style: none;

}

a[rel="Flavours"]{
    color: #DEC9E9;
    text-decoration: none;
}

h1 + p {
    background-color: #000;
    color: #DEC9E9;
}

h3 > p{ /*article*/
    width: 150px;
    border-radius: 50%;
    filter: grayscale(100%);
    margin-top: 1em;
}

li:nth-child(even){
    color: #dc33dc;
}

h3 > p{ /*main*/
    width: 100%;
}

/*

    Select body - COMPLETE
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        line-height: 1.5;
        margin: 0;
        background-color: #7251B5;
    Select h1, h2 and h3 - COMPLETE
        margin-bottom: 0;
    Select the id company-name - COMPLETE          
        font-size: 1.5rem;
    Select header and footer - COMPLETE  
        background-color: #000;
        color: #DEC9E9;
    Select the class wrapper - COMPLETE               
        max-width: 940px;
        margin: 0 auto;
        padding: 2em;
    Select both list types                  <---------------
        padding: 0;
        list-style: none;
    Use descendant selector to select the links within the navigation - 1/2 COMPLETE 
        color: #DEC9E9;
        text-decoration: none;
    Use an adjacent selector to target the section immediately beside the section with id #intro - COMPLETE
        background-color: #000;
        color: #DEC9E9;
    Use a child selector to target the img tag directly with the article tags - COMPLETE
        width: 150px;
        border-radius: 50%;
        filter: grayscale(100%);
        margin-top: 1em;
    Select every even numbered li within the ordered list - COMPLETE
        color: #dc33dc;
    Use a child selector to target the img tag directly with the main element  - COMPLETE
        width: 100%;
